<div class="min-h-screen flex items-center justify-center relative"
    style="background-image: url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fA%3D%3D); background-size: cover;">

    <!-- Overlay oscuro pero sin bloquear el navbar -->
    <div class="absolute inset-0 bg-gray-800/70 pointer-events-none"></div>

    <!-- Contenedor del formulario -->
    <div class="relative bg-gray-900 p-8 rounded-lg shadow-lg text-white w-96 z-10 pointer-events-auto">
        <h2 class="text-3xl font-bold text-center mb-6">¡Regístrate!</h2>

        <form (ngSubmit)="register(form)" #form="ngForm">
            <div class="mb-4">
                <label class="block mb-2">Ingresar Correo</label>
                <input type="email" class="form-control input input-bordered w-full" name="email" [(ngModel)]="email"
                    required>
            </div>

            <div class="mb-4">
                <label class="block mb-2">Ingrese Contraseña</label>
                <input type="password" class="form-control input input-bordered w-full" name="password"
                    [(ngModel)]="password" required>
            </div>

            <button class="btn btn-primary w-full" type="submit">Registrarse</button>
        </form>

        <!-- Mensaje de redirección al login -->
        <p class="text-center text-sm mt-4">
            ¿Ya tienes una cuenta?
            <a routerLink="login">
                <a routerLink="/login" class="text-blue-400 hover:underline">Inicia sesión aquí</a>
            </a>
        </p>
    </div>
</div>