<div class="relative min-h-screen"
    style="background-image: url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fA%3D%3D); background-size: cover;">

    <div class="absolute inset-0 bg-gray-800/70"></div>

    <div class="relative flex flex-col items-center justify-center text-white text-center min-h-screen px-6">

        <h1 class="absolute top-20 text-4xl font-bold font-sans max-w-5xl">Bienvenido</h1>

        <div class="mt-1 max-w-2xl">
            <p class="text-xl">
                Regístrate para descubrir más funciones y personalizar tu experiencia en nuestra plataforma.
            </p>
        </div>
        <a href="login">
            <button class="btn btn-ghost btn-success text-4xl">Ingresar</button>
        </a>
    </div>

</div>